@model Teste_eCommerce.Models.Promocao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Promocao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIPO_PROMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_PROMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QTD_LEVE_PROMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTD_LEVE_PROMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QTD_PAGUE_PROMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTD_PAGUE_PROMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VLR_PAGUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VLR_PAGUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESC_PROMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_PROMO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PROMO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
