@model IEnumerable<Teste_eCommerce.Models.Promocao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_PROMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QTD_LEVE_PROMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QTD_PAGUE_PROMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VLR_PAGUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESC_PROMO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_PROMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QTD_LEVE_PROMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QTD_PAGUE_PROMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VLR_PAGUE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESC_PROMO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PROMO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PROMO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PROMO })
        </td>
    </tr>
}

</table>
